Traffic_Prediction_Model/data/Traffic_Input_4G.npy
Traffic_Prediction_Model/data/Traffic_Input_5G.npy
Traffic_Prediction_Model/data/Traffic_pred_4G.npy
Traffic_Prediction_Model/data/Traffic_pred_5G.npy
/Traffic_Prediction_Model/try.ipynb